*.iml
*.apk
*.log
.gradle
.hgignore
/local.properties
.idea
.hg
.DS_Store
build
/app/src/main/assets/tiles
/captures
/app/release
/mapcompose-local/*
deploy-release.sh
compile_sign_and_run.sh
compile_and_deploy_release.sh
*.hprof
