<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.peterlaurence.trekme"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".TrekMeApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:hasFragileUserData="true"
        tools:targetApi="q">
        <activity
            android:name="com.peterlaurence.trekme.main.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.peterlaurence.trekme.service.GpxRecordService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.peterlaurence.trekme.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.peterlaurence.trekme.features.wifip2p.domain.service.WifiP2pService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:authorities="${applicationId}.TrekmeFilesProvider"
            android:name="com.peterlaurence.trekme.data.fileprovider.TrekmeFilesProvider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>
    </application>

</manifest>
